.paper {
  font-size: 0.82rem;

  p {
    font-size: 0.82rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}

main.paper {
  // Reduce header bottom spacing
  header {
    padding-bottom: 0.2rem;
  }

  // Reduce gap between grid rows
  .grid {
    grid-row-gap: 0.3rem;
  }

  // Pull content columns up closer to header
  .left-column,
  .right-column {
    margin-top: 0rem;
  }

  header .title h1 {
    font-size: 4.0rem;
  }

  .section-experience p {
    line-height: 1.2;
  }
}

.job_title {
  // font-style: italic;
}

@media print {
  a {
    // use if you want to print the url
    &:not(.non-existing)::after {
      content: " (" attr(href) ")";
      margin: 0;
      font-weight: 400;
      font-size: 0.75rem;
      color: scale-color(#202020, $lightness: 30%);
    }

    .item-title & {
      &::after {
        content: attr(href);
        display: block;
        margin: 0;
      }
    }

    .section-publications & {
      &::after {
        content: attr(href);
        display: block;
        margin: 0 0.75rem;
      }
    }
  }
}
